.button {
    border-radius: 4px;
    background-color: #1890FF;
    color: #fff;
    padding: 0 20px;
    height: 45px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

